.footer {
    height: 100px;
    background: #a7a7a7;
    padding-top: 15px;
    box-sizing: border-box;
}

.footer p {
    padding: 10px 0px;
    color: white;
    font-size: 13px;
    text-align: center;
}

.footer p a {
    color: white;
    margin: 0px 20px;
    vertical-align: middle;
}

.footer p span {
    display: inline-block;
    width: 1px;
    height: 20px;
    background: white;
    vertical-align: middle;
}